[Unit]
Description=node.js server for streaming audio from a USB microphone through a websocket.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/nodejs /var/www/microphone-server/server.js 9000 plughw:1,0
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target